{
  "openapi": "3.0.1",
  "info": {
    "title": "Blackbird.io API",
    "description": "This API provides generic app functions for the Blackbird.io system.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://eu-1.blackbird.io/api-rest/",
      "description": "Blackbird EU-1 instance"
    },
    {
      "url": "https://us-2.blackbird.io/api-rest/",
      "description": "Blackbird US-2 instance"
    }
  ],
  "paths": {
    "/nests/{nestId}/birds": {
      "get": {
        "summary": "Search Birds in a Nest",
        "description": "Returns the Birds in a Nest. Results can be filtered by trigger type and status.",
        "operationId": "searchBirds",
        "tags": ["Birds"],
        "parameters": [
          {
            "name": "nestId",
            "in": "path",
            "required": true,
            "description": "The ID of the Nest that contains the Birds.",
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TriggerType",
            "in": "query",
            "description": "Filters Birds by how they are triggered: manual, event, or scheduled. Only manual Birds can be triggered through the POST Bird endpoint in this API.",
            "style": "form",
            "schema": {
              "type": "string",
              "enum": ["manual", "event", "scheduled"]
            }
          },
          {
            "name": "Status",
            "in": "query",
            "description": "Filters Birds by status. Unpublished Birds are drafts. Active Birds are enabled. Suspended Birds were active Birds that were temporarily paused.",
            "style": "form",
            "schema": {
              "type": "string",
              "enum": ["active", "unpublished", "suspended"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of Birds in the Nest.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BirdEntity"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/nests/{nestId}/birds/{birdId}": {
      "get": {
        "summary": "Get a Bird",
        "description": "Returns a single Bird in a Nest by its ID.",
        "operationId": "getBird",
        "tags": ["Birds"],
        "parameters": [
          {
            "name": "nestId",
            "in": "path",
            "required": true,
            "description": "The ID of the Nest that contains the Bird.",
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "birdId",
            "in": "path",
            "required": true,
            "description": "The ID of the Bird.",
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Bird.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BirdEntity"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      },
      "post": {
        "summary": "Fly a Manual Bird",
        "description": "Starts a Flight for the specified Bird. Only Birds with a manual trigger type can be flown through this endpoint.",
        "operationId": "flyBird",
        "tags": ["Birds"],
        "parameters": [
          {
            "name": "nestId",
            "in": "path",
            "required": true,
            "description": "The ID of the Nest that contains the Bird.",
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "birdId",
            "in": "path",
            "required": true,
            "description": "The ID of the Bird. Only manual Birds can be triggered through this endpoint.",
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Bird was successfully flown."
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/nests/{nestId}/birds/{birdId}/flights": {
      "get": {
        "summary": "Search Flights",
        "description": "Search for Flights of the specified Nest. This endpoint is especially useful for applications that need to inspect Flight error messages to understand failed or cancelled Flights.",
        "operationId": "searchFlights",
        "tags": ["Flights"],
        "parameters": [
          {
            "name": "nestId",
            "in": "path",
            "required": true,
            "description": "The ID of the Nest that contains the Bird.",
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "birdId",
            "in": "path",
            "required": true,
            "description": "The ID of the Bird whose Flights are being listed.",
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "MinStartDate",
            "in": "query",
            "description": "Filters Flights to those with a start date on or after this timestamp.",
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "MaxStartDate",
            "in": "query",
            "description": "Filters Flights to those with a start date on or before this timestamp.",
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "Status",
            "in": "query",
            "description": "Filters Flights by status. Active Flights are currently running. Cancelled Flights were cancelled by a user.",
            "style": "form",
            "schema": {
              "type": "string",
              "enum": ["succeeded", "failed", "cancelled", "active"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of Flights for the specified Bird, including error messages when available.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FlightEntity"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/nests/{nestId}/birds/{birdId}/flights/{flightId}": {
      "get": {
        "summary": "Get Flight",
        "description": "Get details of a specific Flight, including error messages when available. This is especially important for applications that need to diagnose failed or cancelled Flights.",
        "operationId": "getFlight",
        "tags": ["Flights"],
        "parameters": [
          {
            "name": "nestId",
            "in": "path",
            "required": true,
            "description": "The ID of the Nest that contains the Bird.",
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "birdId",
            "in": "path",
            "required": true,
            "description": "The ID of the Bird whose Flight is being retrieved.",
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flightId",
            "in": "path",
            "required": true,
            "description": "The ID of the Flight.",
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Flight.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightEntity"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/nests/{nestId}/users": {
      "put": {
        "summary": "Add User to Nest",
        "description": "Adds a User to a Nest.",
        "operationId": "addUserToNest",
        "tags": ["Nests"],
        "parameters": [
          {
            "name": "nestId",
            "in": "path",
            "required": true,
            "description": "The ID of the Nest to which the user will be added.",
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddNestUserDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AddNestUserDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AddNestUserDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The User was successfully added to the Nest."
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/nests/{nestId}/users/{userId}": {
      "delete": {
        "summary": "Remove User from Nest",
        "description": "Removes a User from a Nest.",
        "operationId": "removeUserFromNest",
        "tags": ["Nests"],
        "parameters": [
          {
            "name": "nestId",
            "in": "path",
            "required": true,
            "description": "The ID of the Nest from which the user will be removed.",
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "The ID of the User to remove from the Nest.",
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The User was successfully removed from the Nest."
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/nests": {
      "get": {
        "summary": "Search Nests",
        "description": "Returns all Nests.",
        "operationId": "searchNests",
        "tags": ["Nests"],
        "responses": {
          "200": {
            "description": "A list of Nests.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NestEntity"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/nests/{nestId}": {
      "get": {
        "summary": "Get Nest",
        "description": "Returns a single Nest by its ID.",
        "operationId": "getNest",
        "tags": ["Nests"],
        "parameters": [
          {
            "name": "nestId",
            "in": "path",
            "required": true,
            "description": "The ID of the Nest to retrieve.",
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Nest.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestEntity"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/users": {
      "get": {
        "summary": "Search Users",
        "description": "Returns all Users.",
        "operationId": "searchUsers",
        "tags": ["Users"],
        "responses": {
          "200": {
            "description": "A list of Users.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserEntity"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/users/{userId}": {
      "get": {
        "summary": "Get User",
        "description": "Returns a single User by its ID.",
        "operationId": "getUser",
        "tags": ["Users"],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "The ID of the User to retrieve.",
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested User.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserEntity"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AddNestUserDto": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "BirdEntity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "nestId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["active", "unpublished", "suspended"]
          },
          "triggerType": {
            "type": "string",
            "enum": ["manual", "event", "scheduled"]
          },
          "isPublished": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "FlightEntity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "birdId": {
            "type": "string"
          },
          "nestId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["succeeded", "failed", "cancelled", "active"]
          },
          "errorMessages": {
            "type": "string",
            "description": "Error details for the Flight when available. This field is especially useful for applications that need to diagnose failed or cancelled Flights.",
            "nullable": true
          },
          "startDate": {
            "type": "string",
            "format": "date-time"
          },
          "duration": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "NestEntity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "members": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserEntity"
            }
          }
        },
        "additionalProperties": false
      },
      "UserEntity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "isActive": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "ProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": {}
      }
    },
    "securitySchemes": {
      "Token": {
        "type": "apiKey",
        "description": "Add your token to the authorization header. \n\nE.g. Authorization: 1ab2c3e4",
        "name": "Authorization",
        "in": "header"
      }
    }
  },
  "security": [
    {
      "Token": []
    }
  ]
}
